<!DOCTYPE html>
<html>

<head>
    <title>Email Inbox</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .container {
            display: flex;
        }

        .sidebar {
            width: 15%;
            height: 100vh;
            background-color: #333;
            color: #fff;
            padding: 20px;
            position: fixed;
        }

        .sidebar ul {
            list-style: none;
            padding: 0;
        }

        .sidebar li {
            margin-bottom: 10px;
        }

        .sidebar a {
            text-decoration: none;
            color: #fff;
        }

        .content {
            float: left;
            width: 85%;
            padding: 20px;
            margin-left: 20%;
        }

        .email-list {
            list-style: none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
        }

        .email-item {
            display: flex;
            justify-content: space-between;
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #fff;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <ul>
                <li><a href="writingemail">写邮件</a></li>
                <li><a href="receivedemails">收件箱</a></li>
                <li><a href="draft">草稿箱</a></li>
                <!-- <li><a href="trashemails">垃圾箱</a></li> -->
                <li><a href="sentemails">已发送</a></li>
                <!-- <li><a href="deletedemails">已删除</a></li> -->
                <!-- <li><a href="#">分类</a></li> -->
                <li><a href="contacts">通讯录</a></li>

            </ul>
        </div>
        <div class="content">
            <h1>Contacts</h1>
            <div class="button-group">
                <button id="addButton" onclick="toggleFormVisibility()">Add a contact</button>
            </div>

            <!-- Hidden form for adding a contact -->
            <form id="addContactForm" style="display: none;">
                <input type="text" id="usernameInput" placeholder="Username" required>
                <input type="email" id="emailInput" placeholder="Email" required>
                <input type="tel" id="phoneInput" placeholder="Phone" required>
                <input type="text" id="addressInput" placeholder="Address" required>
                <input type="date" id="birthdayInput" required>
                <button type="button" onclick="submitForm()">Add Contact</button>
            </form>

            <!-- 编辑联系人的隐藏表单 -->
            <form id="editContactForm" style="display: none;">
                <input type="hidden" id="editContactId">
                <input type="text" id="editUsernameInput" placeholder="Username" required>
                <input type="email" id="editEmailInput" placeholder="Email" required>
                <input type="tel" id="editPhoneInput" placeholder="Phone" required>
                <input type="text" id="editAddressInput" placeholder="Address" required>
                <input type="date" id="editBirthdayInput" required>
                <button type="button" onclick="submitEditForm()">Save Changes</button>
            </form>

            <!-- 联系人列表 -->
            <ul id="contactList">
                <% contacts.forEach(function(contact) { %>
                    <li class="email-item" id="contact-<%= contact.connect_id %>">
                        <p>
                            <%= contact.contactname %>
                        </p>
                        <p>
                            <%= contact.email %>
                        </p>
                        <p>
                            <%= contact.phone %>
                        </p>
                        <p>
                            <%= contact.address %>
                        </p>
                        <p>
                            <%= contact.birthday %>
                        </p>
                        <button onclick="editContact('<%= contact.connect_id %>')">Edit</button>
                    </li>
                    <% }); %>
            </ul>
        </div>
    </div>


    <script>
        var currentEditingId = null; // 用于跟踪当前正在编辑的联系人ID

        function toggleFormVisibility() {
            var form = document.getElementById("addContactForm");
            form.style.display = form.style.display === "none" ? "block" : "none";
        }

        function submitForm() {
            var username = document.getElementById("usernameInput").value.trim();
            var email = document.getElementById("emailInput").value.trim();
            var phone = document.getElementById("phoneInput").value.trim();
            var address = document.getElementById("addressInput").value.trim();
            var birthday = document.getElementById("birthdayInput").value.trim();

            // Validate input
            if (username && email && phone && address && birthday) {
                // Create a new contact object
                var newContact = {
                    username: username,
                    email: email,
                    phone: phone,
                    address: address,
                    birthday: birthday
                };

                // Send a POST request to the server
                fetch('/addcontact', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(newContact),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Success:', data);
                        // You can handle the response from the server here
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                    });

                // Hide the form after sending the data
                toggleFormVisibility();
            } else {
                alert("Please fill in all contact information.");
            }
        }

        function editContact(contactId) {
            var form = document.getElementById('editContactForm');
            var isSameContact = currentEditingId === contactId;
            // console.log(contactId)

            // 获取点击的联系人的信息
            var contactItem = document.getElementById('contact-' + contactId);
            var contactDetails = contactItem.getElementsByTagName('p');

            // 填充表单
            document.getElementById('editUsernameInput').value = contactDetails[0].innerText;
            document.getElementById('editEmailInput').value = contactDetails[1].innerText;
            document.getElementById('editPhoneInput').value = contactDetails[2].innerText;
            document.getElementById('editAddressInput').value = contactDetails[3].innerText;
            document.getElementById('editBirthdayInput').value = contactDetails[4].innerText;
            document.getElementById('editContactId').value = contactId;
            // console.log(document.getElementById('editContactId').value)

            // 根据是否是同一个联系人来显示或隐藏表单
            if (form.style.display === 'block' && isSameContact) {
                form.style.display = 'none';
                currentEditingId = null;
            } else {
                form.style.display = 'block';
                currentEditingId = contactId;
            }
        }


        function submitEditForm() {
            var contactId = document.getElementById('editContactId').value;
            var updatedContact = {
                id: contactId,
                username: document.getElementById('editUsernameInput').value,
                email: document.getElementById('editEmailInput').value,
                phone: document.getElementById('editPhoneInput').value,
                address: document.getElementById('editAddressInput').value,
                birthday: document.getElementById('editBirthdayInput').value
            };
            fetch('/updateContact', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(updatedContact),
            }).then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok: ' + response.statusText);
                }
                if (response.headers.get('content-type').indexOf('application/json') === -1) {
                    throw new Error('Response not JSON');
                }
                return response.json();
            })
                .then(data => {
                    console.log('Success:', data);
                    // 更新页面上的联系人信息
                    // 隐藏编辑表单
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
        }
    </script>


</body>


</html>